{{#with selection}}
  <div {{action 'selectSelection' this}}>
    {{text}}
    <button {{action 'deleteSelection' this}} class="btn btn-default btn-xs pull-right delete-btn">Delete</button>
    <button {{action 'moveSelection' this}} class="btn btn-default btn-xs pull-right">Move</button>
  </div>
{{/with}}