html, body {
  margin: 0;
  height: 100%;
}

body { padding-top: 60px; }

.glyphicon-refresh {
  animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
}

.form-group.has-error.hide-error {
  .control-label {
    color: $input-color;
  }
  .form-control {
    border-color: $input-border;

    &:focus {
      border-color: $input-border-focus;
    }
  }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}