.text-selection {

  .popover {
    position: absolute;
    width: 400px;
    max-width: none;

    .list-group {
      max-height: 200px;
      overflow-y: auto;
    }

    .list-group-item {
      cursor: pointer;
      padding: 5px 15px;

      &:hover {
        background-color: $list-group-hover-bg;
      }
    }
  }

  .paragraph span {
    cursor: pointer;
  }
}