#document {
  width: 100%;
  position: absolute;
  margin-top: -60px;
  padding-top: 60px;
  height: 100%;

  .pane {
    float: left;
    height: 100%;
    overflow-y: auto;
  }

  .paragraphs-pane {
    width: 62%;
    border-right: 1px solid $gray-lighter;
    padding: 15px;
  }

  .labels-pane {
    width: 38%;
    padding: 15px;

    .panel-heading{
      padding: 5px 15px;
    }

    .selection-item{
      padding: 5px 15px;
    }

    .panel {
      margin-bottom: 10px;
    }
  }

  .project-label {
    &:hover .panel-heading .btn {
      display: inline-block;
    }
    .panel-heading .btn {
      display: none;
      &.delete-btn {
        margin-left: 5px;
      }
    }
  }
}