#labels {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: -60px;
  padding-top: 60px;

  .pane {
    float: left;
    height: 100%;
    overflow-y: auto;
  }

  .labels-pane {
    width: 20%;
    border-right: 1px solid $gray-lighter;
    padding-bottom: 34px;
    position: relative;

    .inner {
      height: 100%;
      overflow-y: auto;
    }

    .btn-toolbar {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: $gray-lighter;
      margin: 0;
      padding: 5px 10px;
    }
  }

  .label-pane {
    width: 80%;
    position: relative;
  }

  .label-item, .category-item {
    border-bottom: 1px solid $gray-lighter;

    &:hover {
      background-color: $list-group-hover-bg;
    }

    &.active {
      background-color: $list-group-active-bg;
      color: $list-group-active-color;

      .badge {
        background-color: $badge-active-bg;
        color: $badge-active-color;
      }
    }
  }

  .category-item {
    font-weight: bold;
    padding: 2px 15px;
    background-color: $list-group-hover-bg;

    &:hover {
      .btn {
        display: block;
      }
    }
    .btn {
      display: none;
      top: -1px;
      position: relative;
    }

    .delete-btn {
      margin-left: 5px;
    }
  }
}