{{#modal-dialog title="New Category" cancel="cancel" save="save"}}
  <div class="form-group">
    <label for="inputCategoryName">Category name</label>
    {{input value=name class="form-control" placeholder="Category name" id="inputCategoryName"}}
  </div>
{{/modal-dialog}}