{{#modal-dialog title="Edit Document" cancel="cancel" save="save"}}
  <div class="form-group">
    <label for="inputDocumentTitle">Document title</label>
    {{input value=title class="form-control" placeholder="Document title" id="inputDocumentTitle"}}
  </div>
{{/modal-dialog}}