{{#modal-dialog title="Edit Label" cancel="cancel" save="save"}}
  <div class="form-group">
    <label for="inputLabelName">Label name</label>
    {{input value=name class="form-control" placeholder="Label name" id="inputLabelName"}}
  </div>
  <div class="form-group">
    <label for="inputLabelColor">Label color</label>
    {{input value=color class="form-control" placeholder="Label color" id="inputLabelColor"}}
  </div>
{{/modal-dialog}}