{{#modal-dialog title="New Label" cancel="cancel" save="save"}}
  <div class="form-group">
    <label for="inputLabelName">Label name</label>
    {{input value=name class="form-control" placeholder="Label name" id="inputLabelName"}}
  </div>
{{/modal-dialog}}