{{#modal-dialog title="Open project" saveBtnName="Open" cancel="cancel" save="save"}}
  <div class="form-group">
    <label for="inputFile">Select a Labello (.lbo) file</label>
    {{view 'file-input' data=model accept=".lbo" class="form-control" id="inputFile"}}
  </div>
{{/modal-dialog}}

