<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Labello</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
      <ul class="nav navbar-nav">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

  <div class="row" >
    <div class="col-md-4">
      <h1>Labello<br><small>A simple and free text analysis tool</small></h1>
      <p>Labello is still in development. I actively recommend to use a recent web browser.<br>Feel free to <a href="https://github.com/JordanVincent/labello/issues" target="_blank">report issues</a> and give <a href="mailto:jordanv1@uw.edu" target="_blank">feedbacks</a>.</p>
      <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Everything is saved on your browser. You'll have to use the same computer to access your projects.</p>
      <p>The features include:</p>
      <ul>
        <li>Multiple document import</li>
        <li>Labeling/indexing</li>
        <li>High level categories</li>
        <li>CSV export</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Projects</h3>
      <hr>

      <ul class="list-group">
        {{#each}}
          <li class="list-group-item">
            {{link-to name 'project' this}}
            <button class="btn btn-default btn-xs pull-right" {{action 'deleteProject' this}}>Delete</button>
          </li>
        {{/each}}
      </ul>
      {{#unless length}}
        <p>No projects yet, add one!</p>
      {{/unless}}

      <button class="btn btn-primary" {{action 'newProject'}}>New project</button>
    </div>
  </div>
</div>