<div id="selection">
  {{view 'paragraph' paragraph=paragraph activeSelections=activeSelections tagName=paragraph.tagName}}
  <hr>
  {{document.title}} - {{link-to 'See document' 'document' paragraph.document}}
</div>