{{#modal-dialog title="Move selection" cancel="cancel" save="save"}}
  <div class="well well-sm">{{text}}</div>

  <div class="form-group">
    <label for="inputSelectionLabel">Label</label>
    {{view "select" content=project.labels value=label optionLabelPath="content.name"  class="form-control" id="inputSelectionLabel"}}
  </div>
{{/modal-dialog}}